
.formulario{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.inputForm{
  width: 100%;
}

.button{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  /* align-items: flex-end; */
  /* margin: auto; */
}
.boton-guardar{
  width: 250px;
}
.toast-success {
	background: #0ead69;
	padding-left: 20%;
}